{
  "parser": "@babel/eslint-parser",
  "plugins": ["prettier"],
  "extends": ["eslint:recommended", "prettier"],
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "requireConfigFile": false,
    "ecmaFeatures": {
      "requireConfigFile": false,
      "experimentalObjectRestSpread": true,
      "jsx": false
    },
    "sourceType": "module"
  },
  "globals": {
    "strapi": true
  },
  "rules": {
    "prettier/prettier": "error",
    "no-console": 0
  }
}
